
<p style="
			font-size: 26px;
			margin: 0 0 20px;
		">Confirmação de Email</p>
<p style="
			padding-bottom: 10px;
			margin-top: 0;
			margin-bottom: 10px;
		">Olá, {{userName}}<br>
  Para confirmar seu email use esse código</p>
<div style="
			background-color:#f7f7f7;
			border: solid 1px #d9d9d9;
			border-radius: 10px;
			margin: 10px auto;
			max-width: 450px;
		">
  <p style="
			font-size: 50px;
			color: #6e6e6e;
			text-align: center;
			margin: 0;
      letter-spacing: 10px;
		">{{ link }}</p>
</div>

