<div style="
	background-color:#f7f7f7;
	padding: 30px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2;
	color: #222;
	text-align: center;
">
  <h2>LOGO BOTMEX</h2>
	<div style="
		border: 1px solid #d9d9d9;
		margin:0px auto;
		max-width:600px;
		background:white;
		font-size: 16px;
		line-height: 1.6;
		text-align: center;
		margin-bottom: 20px;
		padding: 0 20px 20px;
		border-radius: 15px;
	">
    {{{ body }}}
	</div>
	<div style="
		margin:0px auto;
		max-width:600px;
		text-align: center;
	">
    {{> footer }}
	</div>

</div>
